@import '~office-ui-fabric-react/dist/sass/References.scss';
.container {
    max-width: 400px;
    margin: 0px auto;
    // Make border with rounded corners and dashed lines
    border: 2px dashed #ccc;
    border-radius: 15px;
    padding: 10px;
}

.thumbContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}

.thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin: 0 8px 8px 0;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
}

.thumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.img {
    display: block;
    width: auto;
    height: 100%;
}