@import '~office-ui-fabric-react/dist/sass/References.scss';
.filtreContactsQuietalis {
    .container {
        padding: 0;
        padding-bottom: 23px;
    }
    .refinerName {
        color: #333333;
        font-size: 13pt;
        padding: 0 0 8px 0;
        border: 0;
        width: 160px;
        display: block;
        cursor: pointer;
    }
    .InlineBlock {
        width: calc(100% - 16px);
        display: inline-block;
    }
    .unselSec,
    .unselshortList {
        display: block;
    }
    .value {
      padding: 4px 0;
      width: 160px;
      display: block;
    }
    .displayValue {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      line-height: 20px;
      display: block;
      text-decoration: none;
    }
    .refValue {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
      max-width: 100%;
      vertical-align: bottom;
      color: #666666;
      display: inline-block;
      line-height: 20px;
      border-spacing: 0px;
    }
}