.ms-List-page {
    display: grid!important;
    grid-template-columns: repeat(5, 1fr)!important;
    grid-gap: 10px!important;
}

.ms-DetailsRow-fields {
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
}

.ms-DetailsRow-cell {
    width: 100%!important;
}

.ms-Image-image {
    width: 100px!important;
    height: auto!important;
}